body {
  margin: 0;
}

.right {
  float: right;
}

nav {
  height: 64px;
  background-color: #000000;
}

nav .nav-wrapper {
  max-width: 1200px;
  margin: auto;
}

nav .nav-wrapper ul {
  list-style: none;
  padding: 0;
  margin: 0px 120px 0px 120px;
  display: inline;
}

nav .nav-wrapper ul li {
  color: #ffffff;
  line-height: 64px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 0 10px 0 10px;
  display: inline-block;
}

nav .nav-wrapper .download-btn {
  background-color: #6fd1bd;
  line-height: 64px;
  border: none;
  height: 64px;
  padding: 0 20px;
  color: #ffffff;
  font-size: 1rem;
  letter-spacing: .28rem;
  margin: 0px 150px 0px 0px;
}

@media screen and (max-width: 500px) {
  nav .nav-wrapper .download-btn {
    /* display: none; */
    display: none;
  }
}

nav .nav-wrapper .download-btn:hover {
  background-color: white;
  color: black;
}

.container {
  max-width: 950px;
  margin: auto;
  height: 330px;
  /* border:1px solid red;*/
}

.container .left {
  float: left;
  display: inline;
  margin: 70px 0px 0px 0px;
}

.container .left .h1alter {
  font-size: 5em;
  font-style: bold;
  text-align: left;
  text-shadow: -4px 4px white;
  font-family: Lato, 'Open Sans', Helvetica, Arial;
  font-weight: 900;
  padding: 0%;
  line-height: 1.1;
  /*margin-right: 980px ;*/
  /*border:1px solid red;*/
  cursor: pointer;
}

.container .left .h1alter:hover {
  text-shadow: -4px 4px lightblue;
}

.container .left .title {
  padding: 0%;
  border-top: 10px solid black;
  font-style: normal;
  font-size: 2em;
  margin-right: auto;
  letter-spacing: .28rem;
}

.container .right {
  float: right;
  display: inline;
  /*border: 1px solid black;*/
  margin: 210px 0px 0px 10px;
  font-size: 18px;
}

.container .right .aalter {
  text-decoration: underline;
  -webkit-text-decoration-color: black;
          text-decoration-color: black;
  font-weight: 50;
  font-family: Lato, 'Open Sans', Helvetica, Arial;
}

.container .right .aalter:hover {
  -webkit-text-decoration-color: blue;
          text-decoration-color: blue;
}

.articalstart {
  max-width: 950px;
  margin: auto;
  padding-top: 5em;
}

.articalstart .sectionstart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

.articalstart .sectionstart .sectiontitle {
  float: left;
  font-size: 30px;
  display: block;
  -webkit-margin-before: 0.83em;
          margin-block-start: 0.83em;
  -webkit-margin-after: 0.83em;
          margin-block-end: 0.83em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

.articalstart .sectionstart .sectioncontent {
  float: right;
  display: inline;
  font-size: 20px;
  margin: 0px 0px 0px 100px;
}

.sectiongroup {
  display: block;
  page-break-inside: avoid;
}

.Tag {
  font-weight: 900;
  display: inline;
  padding-left: 0;
  padding-right: 0;
}

.Tag .Tag {
  color: #111;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4);
  font-weight: 700;
  line-height: 1;
  position: relative;
  display: inline-block;
  padding-left: .8rem;
  padding-right: .8rem;
}

.Tag .Tag .Tag:hover:before {
  -webkit-transform: scale(1.05, 2.4);
          transform: scale(1.05, 2.4);
  background-color: #6fd1bd;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.Tag .Tag .Tag:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  height: 1em;
  bottom: 0;
  margin: auto;
  border-radius: .2rem;
  background-color: rgba(111, 209, 189, 0.5);
  -webkit-transition: all .8s .4s ease-in-out;
  transition: all .8s .4s ease-in-out;
}

.Footer {
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 12.8rem -.8rem 3.2rem;
  padding-top: 3.2rem;
}

.Footer .Footercolomn {
  padding-left: .8rem;
  padding-right: .8rem;
}

.Footer .Footer a {
  text-decoration: none;
  display: inline-block;
}

.Footer .Footer a:not(:last-child) {
  margin-right: 1.6rem;
}

.Footer .Footer a:hover {
  color: #111;
}

.Footer .Footer,
.Footer .Section {
  margin-top: 3.2rem;
}

.keyline {
  position: relative;
}

.keyline:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #ddd;
}

.Wrapper {
  width: 80%;
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 767px) {
  .Wrapper--reset\@sm-down {
    width: 100%;
  }
}

.Contact
:after {
  margin: 16px;
  padding-left: 1.6rem;
}
/*# sourceMappingURL=resume.css.map */